{% extends template__layout %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-collapse">
                    <div class="navbar-left">
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="sonata-action-element"
                               href="{{ path('adw_nice_survey__survey_admin__profile') }}"><i
                                        class="fa fa-plus-circle" aria-hidden="true"></i>
                                {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}

    <div class="box box-primary" style="margin-bottom: 100px;">
        <div class="box-body table-responsive no-padding">

            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                <tr class="sonata-ba-list-field-header">
                    <th class="sonata-ba-list-field-header-integer">Id</th>
                    <th class="">Название</th>
                    <th class="">Изображение</th>
                    <th class="">Статус</th>
                    <th class="sonata-ba-list-field-header-actions ">Действия</th>
                </tr>
                </thead>

                <tbody>

                {% for item in items %}
                    <tr>
                        <td class="sonata-ba-list-field">{{ item.id }}</td>
                        <td class="sonata-ba-list-field">{{ item.title }}</td>
                        <td class="sonata-ba-list-field">{% media item.image, 'admin' %}</td>
                        <td class="sonata-ba-list-field">
                            {{ item.status ? 'Да' : 'Нет' }}
                        </td>
                        <td class="sonata-ba-list-field sonata-ba-list-field-actions">
                            <div class="btn-group">

                                <a href="{{ path('adw_nice_survey__survey_admin__profile', { 'id': item.id }) }}"
                                   class="btn btn-sm btn-default edit_link"
                                   title="Редактировать">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}
                                </a>

                                <a href="{{ path('adw_nice_survey__survey_admin__profile') }}"
                                   class="btn btn-sm btn-default delete_link"
                                   title="Удалить">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}
                                </a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
        <div class="box-footer">
            <div class="form-inline clearfix">
                <div class="pull-right">
                    Всего {{ items|length }} запись
                </div>
            </div>

        </div>
    </div>


{% endblock %}