{% extends template__layout %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-collapse">
                    <div class="navbar-left">
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="sonata-action-element" href="{{ path('adw_nice_survey__survey_admin__list') }}"><i
                                        class="fa fa-list" aria-hidden="true"></i>
                                {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}

    <style>


        .sonata-ba-collapsed-fields button {
            display: inline-block;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid #008d4c;
            border-radius: 4px;
            background-color: #00a65a;
            color: #fff;
            min-width: 200px;
        }

        .sonata-ba-collapsed-fields button:hover {
            background-color: #008d4c;
        }

        .items__holder {
            padding-left: 24px;
        }

        .form-group {
            margin-bottom: 25px;
        }

        .field__content {
            position: relative;
        }

        .sonata-ba-collapsed-fields {
            padding: 10px;
        }

        div[data-prototype] > label.required {
            display: none;
        }

        #sonata-ba-field-container-adw_nice_survey__survey_title label,
        #sonata-ba-field-container-adw_nice_survey__survey_status label,
        #sonata-ba-field-container-adw_nice_survey__survey_intro label,
        #sonata-ba-field-container-adw_nice_survey__survey_image label,
        #sonata-ba-field-container-adw_nice_survey__survey_slug label {
            width: 230px;
            float: left;
            margin: 5px 0;
            font-size: 18px;
        }

        #sonata-ba-field-container-adw_nice_survey__survey_title > .field__content,
        #sonata-ba-field-container-adw_nice_survey__survey_status > .field__content,
        #sonata-ba-field-container-adw_nice_survey__survey_intro > .field__content,
        #sonata-ba-field-container-adw_nice_survey__survey_image > .field__content,
        #sonata-ba-field-container-adw_nice_survey__survey_slug > .field__content {
            margin-left: 250px;
        }

        #sonata-ba-field-container-adw_nice_survey__survey_status .field__content {
            padding: 5px 0;
        }

        #adw_nice_survey__survey_status ~ .iCheck-helper {
            opacity: 1 !important;
            background: none !important;
        }

        #adw_nice_survey__survey_status ~ .iCheck-helper:after {
            content: 'Неактивен';
            display: inline-block;
            margin-left: 30px;
        }

        #adw_nice_survey__survey_status:checked ~ .iCheck-helper:after {
            content: 'Активный';
        }

        #adw_nice_survey__survey_intro {
            resize: vertical;
            height: 100px;
        }

        #adw_nice_survey__survey_questions__add {
            min-width: 200px;
        }

        #adw_nice_survey__survey_questions {
            padding: 20px 0 0 30px;
        }

        #sonata-ba-field-container-adw_nice_survey__survey_questions label {
            font-size: 18px;
        }

        #adw_nice_survey__survey_questions label {
            width: 180px;
            float: left;
            font-size: 14px;
        }

        #adw_nice_survey__survey_questions .field__content label {
            width: 180px;
            float: left;
            margin: 7px 0;
        }

        .question_item {
            margin: 0 0 20px -30px;
            position: relative;
            padding: 20px 180px 20px 20px;
            background: rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px -2px rgba(0, 0, 0, 0);
            -webkit-transition: box-shadow 0.2s ease;
            -moz-transition: box-shadow 0.2s ease;
            -ms-transition: box-shadow 0.2s ease;
            -o-transition: box-shadow 0.2s ease;
            transition: box-shadow 0.2s ease;
        }

        .question_item:hover {
            box-shadow: 0 0 10px -2px rgba(0, 0, 0, .8);
        }

        /*.question_item ~ a[data-block ^= 'adw_nice_survey__survey_questions_']{*/
        /*top: 20px;*/
        /*right: 20px;*/
        /*}*/

        .question_item label {
            float: left;
        }

        .question_item .field__content {
            margin-left: 200px;
            margin-bottom: 15px;
        }

        .question_item.is-closed > label + .field__content ~ label,
        .question_item.is-closed > label + .field__content ~ .field__content {
            /*display: none;*/
        }

        a[data-block ^= 'adw_nice_survey__survey_questions_'] {
            position: absolute;
            top: 20px;
            right: 20px;

            display: inline-block;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid #d43f3a;
            border-radius: 4px;
            background-color: #d9534f;
            color: #fff;
            width: 130px;
        }

        a[data-block ^= 'adw_nice_survey__survey_questions_']:hover {
            background-color: #d43f3a;
        }

        .question_item .field__content .field__content {
            margin-left: 0;
        }

        .question_item a[data-block ^= 'adw_nice_survey__survey_questions_'] {
            right: -160px;
            top: 0;
        }

        .answer_item {
            overflow: hidden;
        }

        .question_item .answer_item .field__content {
            float: left;
            margin-left: 30px;
            width: calc(30% - 30px);
        }

        .question_item .answer_item .field__content:first-child {
            margin-left: 0;
        }

        .question_item .answer_item .icheckbox_square-blue {
            margin: 5px 0;
        }

        .question_item .answer_item .icheckbox_square-blue input ~ .iCheck-helper {
            opacity: 1 !important;
            background: none !important;
        }

        .question_item .answer_item .icheckbox_square-blue input ~ .iCheck-helper:after {
            content: 'Завершить опрос';
            display: inline-block;
            margin-left: 30px;
            white-space: nowrap;
        }

        .question_item .answer_item .icheckbox_square-blue input ~ .iCheck-helper:after {
            /*content: 'Активный';*/
        }

        .image_item {
            overflow: hidden;
        }

        .image_item-preview {
            float: left;
            min-width: 20%;
        }

        .image_item-control {

        }

        .image_item-control .field__content {
            float: left;
        }

        .image_item-control input[type="file"] {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 200px;
            height: 200px;
            cursor: pointer;
        }

        .image_item-control .icheckbox_square-blue {
            margin-top: 90px;
        }

        .image_item-control .field__content {
            position: static !important;
        }

        .image_item-control .icheckbox_square-blue input[type="checkbox"] ~ .iCheck-helper {
            opacity: 1 !important;
            background: none !important;
        }

        .image_item-control .icheckbox_square-blue input[type="checkbox"] ~ .iCheck-helper:after {
            content: 'Удалить';
            display: inline-block;
            margin-left: 30px;
            white-space: nowrap;
        }

        .image_item-control label[for $= '_image_binaryContent'] {
            padding: 0 20px;
            margin-top: 90px !important;
            width: 40% !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
        }

        .image_item-control label[for $= '_image_unlink'] {
            display: none;
        }

        .image_item-input {
        }

        .question_header{
            font-size: 18px;
            padding: 4px 0;
            cursor: pointer;
        }

        .question_header b{
            display: inline-block;
            width: 200px;
        }
        .question_wrap{
            padding-top: 20px;
            display: none;
        }

    </style>

    <div class="sonata-ba-form">

        {#{{ dump(form.children['questions'].children[0].children['images'].children[0]) }}#}
        {#{{ dump(form.children['image']) }}#}

        {% form_theme form with [
        'ADWNiceSurveyBundle:Form:widgets.html.twig',
        'ADWNiceSurveyBundle:Form:profile__widgets.html.twig'
        ] %}

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 class="box-title">Опрос</h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">

                                    {% for child in form.children if child.vars['clicked'] is not defined %}
                                        <div class="form-group" id="sonata-ba-field-container-{{ child.vars.id }}">
                                            {{ form_row(child) }}
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="sonata-ba-form-actions well well-small form-actions">
            {{ form_widget(form.btn_create_and_edit) }}
            {{ form_widget(form.btn_create_and_list) }}
            {{ form_widget(form.btn_create_and_create) }}

            {% if value.id is not null %}
                <a class="btn btn-danger"
                   href="{{ path('adw_nice_survey__survey_admin__delete', {'id': value.id}) }}">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}
                </a>
            {% endif %}
        </div>

        {{ form_end(form) }}

    </div>

    <script>
        /* TODO: write me */


		$(function () {

			$('.question_item').each(function () {

				var $question = $(this),
				    questionValue = $question.find('.question_value').val(),
                    $questionHeader = $('<div/>', {
                        class: 'question_header'
                    });

                $questionHeader.html('<div class=""><b>Вопрос: </b>' + questionValue + '</div>');

                $question.wrapInner('<div class="question_wrap"></div>').prepend($questionHeader);

                $questionHeader.click(function () {
                    $question.find('.question_wrap').stop(true,true).slideToggle();
                })

			});

			$('body')
					.on('click', '[data-block ^= "adw_nice_survey__survey_questions_"]', function () {
						$('#' + $(this).data('block')).closest('.field__content').remove();
					})
			;
		})
	</script>


{% endblock %}



{# ========== Form blocks (custom) ========== #}

{%- block _survey_questions_widget -%}
	{% set classes = (attr['class'] is defined) ? attr['class'] : '' %}
	{% set classes = classes ~ ' items__holder' %}
	{% set attr = attr|merge({'class': classes }) %}

    {{- block('collection_widget') -}}
{%- endblock -%}

{%- block _survey_questions_entry_answers_widget -%}
    {#{{ dump(attr) }}#}

    {% set classes = (attr['class'] is defined) ? attr['class'] : '' %}
    {% set classes = classes ~ ' items__holder' %}
    {% set attr = attr|merge({'class': classes }) %}

    {{- block('collection_widget') -}}
{%- endblock -%}

{#{%- block _adw_nice_survey__survey_questions_widget -%}

{%- endblock -%}#}

{%- block _adw_nice_survey__survey_questions_entry_widget -%}
	{#{{ dump() }}#}

	{% set classes = (attr['class'] is defined) ? attr['class'] : '' %}
	{% set classes = classes ~ ' question_item' %}
	{% set attr = attr|merge({'class': classes }) %}

    {{ block('form_widget') }}
    <a href="javascript:void(0)" data-block="{{ form.vars.id }}">Удалить вопрос</a>
{%- endblock -%}

{%- block _adw_nice_survey__survey_questions_entry_answers_entry_widget -%}
    {% set classes = (attr['class'] is defined) ? attr['class'] : '' %}
    {% set classes = classes ~ ' answer_item' %}
    {% set attr = attr|merge({'class': classes }) %}

    {{ block('form_widget') }}
    <a href="javascript:void(0)" data-block="{{ form.vars.id }}">Удалить ответ</a>
{%- endblock -%}


{# ========== Form blocks (common) ========== #}

{%- block button_widget -%}
    {#{{ dump() }}#}

    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% set label = translation_domain is same as(false) ? label : label|trans({}, translation_domain) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {{ label|raw }}
    </button>
{%- endblock button_widget -%}

{%- block form_row -%}
	{#{{ dump() }}#}

    {{ form_label(form) }}

    {% set div_class = 'field__content' %}
    {% if errors|length > 0 %}
        {% set div_class = div_class ~ ' sonata-ba-field-error' %}
    {% endif %}

	{% set widget_class = (attr['class'] is defined) ? attr['class'] : '' %}
	{% if (
	(form.vars['type'] is not defined or form.vars['type'] != 'file')
	and form.vars['prototype'] is not defined
	)
	and form.children|length == 0 %}
		{% set widget_class = widget_class ~ ' form-control' %}
	{% endif %}

    <div class="{{ div_class }}">
        {{ form_widget(form, {
            'attr': {'class': widget_class}
        }) }}
    </div>
    {% if errors|length > 0 %}
        <div class="help-block sonata-ba-field-error-messages">
            {{ form_errors(form) }}
        </div>
    {% endif %}
{%- endblock -%}