
{% block adw_sonata_media_extra__image_type_widget %}
    <div class="image_item">
        <div class="image_item-preview">
            <canvas id="{{ id }}__canvas"
                    width="{{ canvas.width }}"
                    height="{{ canvas.height }}"
                    style="border: 1px solid #ccc;"></canvas>


        </div>

        <div class="image_item-control">
            {{ block('form_widget') }}
        </div>

        {# Дополнительное поле для отправки данных в base64-формате #}
        <input type="hidden"
               id="{{ id }}_base64String"
               name="{{ full_name }}[base64String]">

        <script>
            (function () {
                /**
                 * @param {Image} img
                 * @param {HTMLCanvasElement} canvas
                 */
                var drawImgInCanvas = function (img, canvas) {
                    var ctx2D = canvas.getContext('2d');

                    {% set ration_func_name = (resize_type == 'inset') ? 'min' : 'max' %}
                    var sizeRatio = Math
                        .{{ ration_func_name }}(
                            cvWidth / img.width,
                            cvHeight / img.height
                        );

                    var imgWidth = img.width * sizeRatio,
                        imgHeight = img.height * sizeRatio,
                        imgLeft = (cvWidth - imgWidth) / 2,
                        imgTop = (cvHeight - imgHeight) / 2
                        ;

                    ctx2D.beginPath();
                    ctx2D.rect(0, 0, canvas.width, canvas.height);
                    ctx2D.fillStyle = "white"; // TODO: define fill color on backend-side
                    ctx2D.fill();

                    ctx2D.drawImage(
                        img,
                        imgLeft, imgTop,
                        imgWidth, imgHeight);
                };

                /**
                 * @param {HTMLElement} el
                 * @param {String} eventName
                 */
                var triggerEvent = function (el, eventName) {
                    var event;

                    if (document.createEvent) {
                        event = document.createEvent('HTMLEvents');
                        event.initEvent(eventName, true, true);
                    } else {
                        event = document.createEventObject();
                        event.eventType = eventName;
                    }

                    event.eventName = eventName;

                    if (document.createEvent) {
                        el.dispatchEvent(event);
                    } else {
                        el.fireEvent('on' + event.eventType, event);
                    }
                };

                var cvWidth = parseInt('{{ canvas.width }}'),
                    cvHeight = parseInt('{{ canvas.height }}'),
                    canvasEl = document.getElementById('{{ id }}__canvas'),
                    context2D = canvasEl.getContext('2d'),
                    fileInputEl = document.getElementById('{{ form.binaryContent.vars.id }}'),
                    canvasOutputEl = document.getElementById('{{ id }}_base64String'),
                    previewUrl = '{% path value, 'reference' %}',
                    img = new Image()
                    ;

                /**
                 * @param {Event} evt
                 */
                canvasEl.addEventListener('mouseup', function (evt) {
                    // Get base64 encoded image
                    canvasOutputEl.value = canvasEl.toDataURL('image/jpeg');
                });

                /**
                 * @param {Event} evt
                 */
                img.onload = function (evt) {
                    var imgElem = evt.currentTarget;
                    drawImgInCanvas(imgElem, canvasEl);
                    if (fileInputEl.value)
                        triggerEvent(canvasEl, 'mouseup');
                };

                /**
                 * @param {Event} evt
                 */
                var onFileLoadedHandler = function (evt) {
                    var file = evt.currentTarget.files[0];
                    var fr = new FileReader();
                    fr.onload = function (evt) {
                        img.src = evt.currentTarget.result;
                    };
                    fr.readAsDataURL(file);
                };
                fileInputEl.addEventListener('change', onFileLoadedHandler);

                // Show current image
                if (previewUrl.length > 0) {
                    img.src = previewUrl;
                }
            })();

        </script>
    </div>
{% endblock adw_sonata_media_extra__image_type_widget %}

{#{% block _adw_nice_survey__survey_image_widget %}#}
{#{% endblock _adw_nice_survey__survey_image_widget %}#}

{#{% block _adw_nice_survey__survey_questions_entry_images_entry_image_widget %}#}
{#{% endblock _adw_nice_survey__survey_questions_entry_images_entry_image_widget %}#}


{# ========== Form blocks (custom) ========== #}

{%- block _survey_questions_widget -%}
    {#{{ dump(attr) }}#}

    {% set classes = (attr['class'] is defined) ? attr['class'] : '' %}
    {% set classes = classes ~ ' items__holder' %}
    {% set attr = attr|merge({'class': classes }) %}

    {{- block('collection_widget') -}}
{%- endblock -%}

{%- block _survey_questions_entry_answers_widget -%}
    {#{{ dump(attr) }}#}

    {% set classes = (attr['class'] is defined) ? attr['class'] : '' %}
    {% set classes = classes ~ ' items__holder' %}
    {% set attr = attr|merge({'class': classes }) %}

    {{- block('collection_widget') -}}
{%- endblock -%}

{#{%- block _adw_nice_survey__survey_questions_widget -%}

{%- endblock -%}#}

{%- block _adw_nice_survey__survey_questions_entry_widget -%}
    {% set classes = (attr['class'] is defined) ? attr['class'] : '' %}
    {% set classes = classes ~ ' question_item' %}
    {% set attr = attr|merge({'class': classes }) %}

    {{ block('form_widget') }}
    <a href="javascript:void(0)" data-block="{{ form.vars.id }}">Удалить вопрос</a>
{%- endblock -%}

{%- block _adw_nice_survey__survey_questions_entry_answers_entry_widget -%}
    {% set classes = (attr['class'] is defined) ? attr['class'] : '' %}
    {% set classes = classes ~ ' answer_item' %}
    {% set attr = attr|merge({'class': classes }) %}

    {{ block('form_widget') }}
    <a href="javascript:void(0)" data-block="{{ form.vars.id }}">Удалить ответ</a>
{%- endblock -%}


{# ========== Form blocks (common) ========== #}

{%- block button_widget -%}
    {#{{ dump() }}#}

    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% set label = translation_domain is same as(false) ? label : label|trans({}, translation_domain) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {{ label|raw }}
    </button>
{%- endblock button_widget -%}

{%- block form_row -%}
    {#{{ dump() }}#}

    {{ form_label(form) }}

    {% set div_class = 'field__content' %}
    {% if errors|length > 0 %}
        {% set div_class = div_class ~ ' sonata-ba-field-error' %}
    {% endif %}

    {% set widget_class = attr.class is defined ? attr.class : '' %}
    {% if (
    (form.vars['type'] is not defined or form.vars['type'] != 'file')
    and form.vars['prototype'] is not defined
    )
    and form.children|length == 0 %}
        {% set widget_class = widget_class ~ ' form-control' %}
    {% endif %}

    <div class="{{ div_class }}">
        {{ form_widget(form, {
            'attr': {'class': widget_class}
        }) }}
    </div>
    {% if errors|length > 0 %}
        <div class="help-block sonata-ba-field-error-messages">
            {{ form_errors(form) }}
        </div>
    {% endif %}
{%- endblock -%}