{% extends 'form_div_layout.html.twig' %}



{%- block collection_widget -%}

    {#{{ dump() }}#}

    {% set prototype = form.vars['prototype'] %}

    {% if prototype.vars['name'] == '__NAME__' %}
        <b>You need change prototype's name in form type!</b>
    {% endif %}

    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget') -}}

    <button type="button"
            id="{{ form.vars.id }}__add"
            >
        Add {{ form.vars['name'] }}
    </button>

    <script type="text/javascript">
        (function () {
            var count = parseInt('{{ form.children|length }}');
            jQuery(document).ready(function () {
                jQuery('#{{ form.vars.id }}__add').click(function (e) {
                    e.preventDefault();
                    var holder = jQuery('#{{ form.vars.id }}');
                    var newWidget = holder.attr('data-prototype');
                    var regex = new RegExp('{{ prototype.vars['name'] }}', 'g');
                    newWidget = newWidget.replace(regex, count);
                    count++;
                    var $newItem = jQuery(newWidget);
                    $newItem.appendTo(holder);

                    $newItem.trigger('sonata-admin-append-form-element');
                });
            });
        })();
    </script>

{%- endblock -%}


{% block adw_nice_survey__enumerated_unsaved_entity_widget %}

    {% set path_items = data_provider.item_path|split('.') %}
    {% set path_node = (_context[path_items[0]] is defined ? _context[path_items[0]] : null) %}

    {% for i in range(1, (path_items|length - 1)) %}
        {% set path_node = attribute(path_node, path_items[i]) %}
    {% endfor %}

    {% set collection_prefix = path_node.vars.id %}

    <select {{ block('widget_attributes') }}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>
                {{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- set options = choices -%}

        {% for group_label, choice in options %}
            <option value="{{ choice.value }}"
                    {% if choice.attr %} {% set attr = choice.attr %}{{ block('attributes') }}{% endif %}
                    {% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                {{ choice.label }}</option>
        {% endfor %}
    </select>

    <script>
        $(function () {
            var selector = '#{{ collection_prefix }} > div > '
                + '[id^={{ collection_prefix }}_] > div > '
                + '[id$=_{{ data_provider.label_path }}]';
            var $select = $('#{{ form.vars.id }}');

            $select.data('old-value', '{{ value }}');

            var itemsChangeHandler = function () {
                var old = $select.val();
                if (old)
                    $select.data('old-value', old);

                $select.find('option[value!=""]').remove();
                $(selector).each(function (i, el) {
                    var $el = $(el);
                    var $opt = $('<option/>').val(i).text($el.val());
                    $opt.appendTo($select);
                });
                old = $select.data('old-value');
                if (old)
                    $select.find('option[value="' + old + '"]').attr('selected', 'selected');
            };
            $('body').on('change', selector, itemsChangeHandler);

            itemsChangeHandler();
        });
    </script>
{% endblock %}