{% extends template__layout %}

{% block sonata_page_content_header %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-collapse">
                    <div class="navbar-left"></div>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}

    <div class="box box-primary" style="margin-bottom: 40px;">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                <tr class="sonata-ba-list-field-header">
                    <th class="sonata-ba-list-field-header-integer">ID</th>
                    <th class="">Название опроса</th>
                    <th class="">Кол-во участников</th>
                    <th class="">Кол-во ответов</th>
                </tr>
                </thead>
                <tbody>
                {% for stat_row in statictics %}
                    <tr>
                        <td class="sonata-ba-list-field">{{ stat_row.survey_id }}</td>
                        <td class="sonata-ba-list-field">{{ stat_row.survey_title }}</td>
                        <td class="sonata-ba-list-field">{{ stat_row.respondent_id_count }}</td>
                        <td class="sonata-ba-list-field">{{ stat_row.mark_id_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="form-inline clearfix">
                <div class="pull-right">
                    Всего {{ statictics|length }} запись
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary" style="margin-bottom: 100px;">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                <tr class="sonata-ba-list-field-header">
                    <th class="sonata-ba-list-field-header-integer">ID</th>
                    <th class="">Создан</th>
                    <th class="">Вопрос</th>
                    <th class="">Ответ</th>
                    <th class="">Ответчик</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td class="sonata-ba-list-field">{{ item.id }}</td>
                        <td class="sonata-ba-list-field">{{ item.createdAt|date('d.m.Y') }}</td>
                        <td class="sonata-ba-list-field">{{ item.question }}</td>
                        <td class="sonata-ba-list-field">{{ item.answer }}</td>
                        <td class="sonata-ba-list-field">{{ item.respondent }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="form-inline clearfix">
                <div class="pull-right">
                    Всего {{ items|length }} запись
                </div>
            </div>
        </div>
        {% if items_paging is defined and items_paging.total > 0 %}
            <div class="text-center">
                <ul class="pagination">
                    {% for i in range(1, items_paging.total) %}
                        <li class="{% if items_paging.current == i %}active{% endif %}">
                            {% set url = path(
                            app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')|merge({
                            'items_page': i
                            })
                            ) %}
                            <a href="{{ url }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}